/* Universal Styles */
html {
  font-size: 16px;
}


/* Header and Navigation */
header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #8686ac;
  position: fixed;
  padding-right: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
}

.black {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

.gray {
  font-size: 2rem;
  color: #a4a4c1;
}

.logo {
  height: 2rem;
  padding-left: 1.5rem;
}

@media only screen and (max-width: 480px) {
  .black,
  .gray,
  nav,
  ul {
    display: none;
  }

.logo,
.images {
  display: inline;
}

.title {
  width: 480px;
  display: flex;
  justify-content: space-between;
}

}

@media only screen and (min-width: 480px) {
  .images {
    display: none;
  }
}

nav  {
  display: inline;
}

nav li {
  display: inline;
  padding-right: 2rem;

}

nav a {
  color: #595959;
  font-size: 1rem;
  font-weight: bold;
}

/* Feature Banner */

.feature {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #cccccc;
  padding-top: 4rem;
}

.feature-banner {
  display: flex;
}

@media only screen and (max-width: 480px) {
  .feature,
  .feature-banner {
    display: block;
  }

  .feature-banner {
    
  }


}

.banner img {
  width: 100%;
  padding-top: 3rem;

}

.banner {
  width: 60%;
  padding-right: 2rem;
}

.feature-button {
  margin: auto 0;
  text-align: center;
}

.button {
  margin: 0 auto;
  text-align: center;
}

.button a {
  background-color: #4d4d4d;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
}

/* Main Content Section 1 */

.maincontent1 {
  padding-left: 1.5rem;
  display: flex;
  height: 59.2rem;
}

.feature-article {
  padding-top: 2rem;
  padding-right: 1.5rem;
  width: 60%;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.feature-article img {
  width: 85%;
  height: auto;
}

.feature-article h1 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.exp {
  font-size: 1.5rem;
}

.lastline {
  font-size: 1rem;
  font-weight: bold;
}

.article-headlines {
  padding-top: 2rem;

}

.orientation,
.campus,
.guest {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  padding: 1rem;
}

.readmore {
  padding-left: 1rem;
}

.readmore a {
  text-decoration: none;
}

/* Main Content Section 2 */

.maincontent2 {
  padding: 2rem 4.5rem;
  background-color: #e6e6e6;
}

.maincontent2 h1 {
  text-align: center;

}

.course-tabs {
  padding-top: 2rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  background-color: white;
  margin-bottom: 2rem;
  width: 30%;
}

.course img {
  width: 100%;
  height: auto;

}

.course-info {
  padding: 0.5rem 1rem;
}

/* Main Content Section 3 */

.maincontent3 {
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #d9d9d9;
}

.maincontent3 h1 {
  text-align: center;
}

.subsections {
  padding-top: 2rem;
  display: flex;
}

.description-video {
  width: 60%;
}

.description-video video {
  width: 100%;
}

.foreword {
  display: flex;
  padding: 1rem;
}

.caption {
  padding-left: 1rem;
}

/* Footer */

footer {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.privacyterms {
  text-align: right;
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: #b3b3cc;
}
