/* Universal Styles */
html {
  font-size: 16px;
}


/* Header and Navigation */
header {
  height: 4rem;
  width: 100%;
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8686ac;
  position: fixed;
  padding-right: 1.5rem;
}

header span {
  font-size: 2rem;

}

.black {
  color: black;
  font-weight: bold;
}

.gray {
  color: #a4a4c1;
}

.logo {
  height: 2rem;
  padding-left: 1.5rem;
}

nav  {
  display: inline;

}

nav li {
  display: inline;
  padding-right: 2rem;

}

nav a {
  color: #595959;
  font-size: 1rem;
  font-weight: bold;
}

/* Feature Banner */

.feature {
  display: inline-flex;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #cccccc;
  margin-top: 4rem;
  height: 30rem;
}

.banner img {
  width: 70%;
  padding-top: 3rem;
  padding-bottom: 2.5rem;

}

.banner {
  display: flex;
  justify-content: center;
}

.feature-button {
  margin: auto 0;
}

.button {
  margin: 0 auto;
  text-align: center;
}

.button a {
  background-color: #4d4d4d;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
}

/* Main Content Section 1 */

.maincontent1 {
  padding-left: 1.5rem;
  display: flex;
  height: 59.2rem;
}

.feature-article {
  padding-top: 2rem;
  padding-right: 1.5rem;
  width: 60%;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.feature-article img {
  width: 85%;
  height: auto;
}

.feature-article h1 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.feature-article h2 {
  line-height: 1.4;
}

.feature-article h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.article-headlines {
  padding-top: 2rem;

}

.orientation,
.campus,
.guest {
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  padding: 1rem;
}

.readmore {
  padding-left: 1rem;
}

.readmore a {
  text-decoration: none;
}

/* Main Content Section 2 */

.maincontent2 {
  padding: 2rem 4.5rem;
  background-color: #e6e6e6;
}

.maincontent2 h1 {
  text-align: center;

}

.course-tabs {
  padding-top: 2rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  background-color: white;
  margin-bottom: 2rem;
  width: 30%;
}

.course img {
  width: 100%;
  height: auto;

}

.course-info {
  padding: 0.5rem 1rem;
}
